


#hamburger {
    position:absolute;
    display: block;
    cursor: pointer;
    top:5px;
    right:5px;
    z-index:100;
}   

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

#hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

#hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

#hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

@media screen and (min-width: $breakpoint-tablet){
    #hamburger{
        display: none;
    }

    
}